@model SchoolBusinessLogic.ViewModel.SocietyViewModel

@{
    ViewData["Title"] = "Delete";
}

<div class="text-center mt-5" >
    <h3>Вы уверены, что хотите удалить кружок?</h3>
</div>

<hr />

    <div class="row">
        <dl class="col-6">
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.SocietyName)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.SocietyName)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.AgeLimit)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.AgeLimit)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.Sum)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.Sum)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.ClientName)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.ClientName)
            </dd>
        </dl>
        <div class="col-6">
            <table class="table">
                <thead>
                    <tr>
                        <th>
                            @Html.DisplayNameFor(model => model.Lessons[0].LessonName)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.Lessons[0].LessonCount)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.Lessons[0].Price)
                        </th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model.Lessons)
                    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.LessonName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.LessonCount)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Price)
            </td>
        </tr>}
                </tbody>
            </table>
        </div>
    </div>

    <form asp-action="Delete">
        <input type="hidden" asp-for="Id" />
        <input type="submit" value="Удалить" class="btn btn-danger w-100 mt-5" /> |
        <a asp-action="Index">Назад</a>
    </form>
</div>
